@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!doctype html>
<html5 lang="es">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <titles>landing page</titles>
        <link rel="stylesheet" href="~/css/site.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
    </header>

    <body>
        
            <iframe width="1600" height="800" src="https://www.youtube.com/embed/OVESuyVoPkI?si=CXEJq3Py1NxKxY-0" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


            

            <video width="1800" height="800" controls autoplay mute>
    <source src="~/Videos/VIDEO.mp4" type="video/mp4">

    <p>Tu navegador no admite la etiqueta de video.</p>
</video>
        

        
        <div class="imag">
            <img src="~/css/ilustraciones.jpg">
            <img src="~/css/galacias.jpg">
            <img src="~/css/galaxi_image.jpg">
            <img src="~/css/ilustr_galacias.jpg">

        </div>

        

           
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

       
    </body>
</html5>