html {
  font-size: 24px;
  animation-duration:initial;
}

@media (min-width: 800px) {
  html {
    font-size: 24px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 5.1rem red, 0 0 0 0.25rem #258cfb;
}






html {
    position: relative;
    min-height: 100%;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin:0px;
   /* border-radius: 5px;*/
    align-items: center;
    text-align:center;
    flex-direction:column;
    
}

.section img{
    width: 0px;
    flex-grow: 1;
    object-fit:cover;
    opacity:18;
    transition: 18s ease;
}


.section img:hover{
    cursor:crosshair;
    width:100px;
    opacity:1;
    filter: contrast(200%);
}

body {
    position: relative;
    background-color:forestgreen;
    
   box-shadow:unset 10px 30px;
}

img {
    width: 1600px;
    height: 800px;
    /*
    background-color: green;
    box-shadow: inset -10px 20px -5x #3a0303;
    */
    margin: 3%;
    padding: 3%;
    margin-top: 3%;
    padding-top: 3%;
    /* border-radius: 20%; para que se ponga redondo una caja**/
    margin-bottom: 1rem;
    /*border: 12px solid black; */
    min-height: auto;
    /*box-sizing: border-box;*/
    align-items: center;
    display: flex;
    filter: contrast(200%);
    background: linear-gradient(green, blue, pink);
    background-color: cornflowerblue;
    box-shadow: inset 50px 10px 5px #3a0303, inset -30px -20px -5px;
    /* border-radius: 20%;*/
    background-image: -webkit-radial-gradient(100%);
    /*line-height: 100px;*/
}

div {
    width: 1600px;
    height: 800px;
    margin: 3%;
    padding: 3%;
    margin-top: 3%;
    padding-top: 3%;
    margin-bottom: 1rem;
    min-height: auto;
    background: linear-gradient(green, blue, pink);
    background-color: cornflowerblue;
   /* box-shadow: inset 10px 10px 5px #3a0303, inset -10px -10px -5px;*/
    /* border-radius: 20%;*/
    background-image: -webkit-radial-gradient(100%);
    align-items: center;
    filter: contrast(100%);
   /* display: flex;*/
    line-height: 100px;
}
iframe {
    width: 1600px;
    height: 800px;
    margin: 3%;
    padding: 3%;
    margin-top: 3%;
    padding-top: 3%;
    margin-bottom: 1rem;
    min-height: auto;
    background: linear-gradient(green, blue, pink,#258cfb, #330f9b,#062f12);
    background-color: cornflowerblue;
    /*box-shadow: inset 10px 10px 5px #3a0303, inset -10px -10px -5px;*/
    /* border-radius: 20%;*/
    background-image: -webkit-radial-gradient(100%);
    align-items: center;
    filter: contrast(100%);
   /* display: flex;*/
    line-height: 100px;
}

